In [191]:
import csv
import itertools
import pandas as pd
import numpy as np
import datetime
import calendar as cal
from collections import defaultdict

In [5]:
df = pd.read_csv('maui_buoy_data.txt', delim_whitespace=True)

In [53]:
cleandf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 5 columns):
WVHT    30 non-null float64
DPD     30 non-null float64
APD     30 non-null float64
WTMP    30 non-null float64
Date    30 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 1.4 KB

In [58]:
cleandf.head()

   Wave Height  Wave Period  Avg Waves Per Second  Water Temp       Date
0         1.55         8.33                  5.04        26.5 2015-08-01
1         1.97         8.33                  5.96        26.2 2015-08-02
2         1.89         9.09                  5.97        26.2 2015-08-03
3         1.62        12.50                  6.70        26.2 2015-08-04
4         1.72         9.09                  7.31        26.5 2015-08-05

In [60]:
cleandf.to_csv('buoy.csv', sep=',', encoding='utf-8')

In [59]:
#Flatten a list of lists
matrix = [[1,2,3], [4,5,6]]
[x for row in matrix for x in row]

[1, 2, 3, 4, 5, 6]

In [63]:
# Remove all vowels from a sentence
sentence = 'There is an awesome taco shack an hour away'
vowels = 'aeiou'
nonvowels = ''.join([l for l in sentence if not l in vowels])
print(nonvowels)

Thr s n wsm tc shck n hr wy

In [92]:
# Create a list of Water Temps for each day from csv
temps = [ x[4] for x in csv.reader(open('buoy.csv', 'r')) if x[4] != 'Water Temp' ]
print(temps)

['26.5', '26.2', '26.2', '26.2', '26.5', '26.9', '27.0', '26.9', '27.1', '27.0', '26.9', '26.8', '26.9', '27.1', '27.1', '27.2', '27.5', '27.7', '27.6', '28.1', '27.5', '27.7', '27.4', '27.4', '28.0', '28.7', '28.9', '28.5', '28.1', '27.8']

In [108]:
# Convert the Water Temps from a string to a float
floats = [float(x) for x in temps]
print(floats)

[26.5, 26.2, 26.2, 26.2, 26.5, 26.9, 27.0, 26.9, 27.1, 27.0, 26.9, 26.8, 26.9, 27.1, 27.1, 27.2, 27.5, 27.7, 27.6, 28.1, 27.5, 27.7, 27.4, 27.4, 28.0, 28.7, 28.9, 28.5, 28.1, 27.8]

In [98]:
# Convert the Water Temps from Celsius to Fahrenheit. maybe round them if you want?
Ferinheight = [ round(((float(9)/5)*x + 32)) for x in floats ]
print(Ferinheight)

[80, 79, 79, 79, 80, 80, 81, 80, 81, 81, 80, 80, 80, 81, 81, 81, 82, 82, 82, 83, 82, 82, 81, 81, 82, 84, 84, 83, 83, 82]

In [99]:
# Find the Average Water Temp in Fahrenheit for the month
def avg_temp(temp):
    return sum(temp) / float(len(temp))

In [100]:
avg_temp(Ferinheight)

81.2

In [107]:
# Dict Comprehension of date and wave height
my_dict = {row[5]: row[1] for row in csv.reader(open('buoy.csv', 'r')) if row[5] != 'Date' or row[1] != 'Wave Height'}
print(my_dict)

{'2015-08-07': '3.52', '2015-08-13': '1.81', '2015-08-26': '0.8', '2015-08-23': '2.02', '2015-08-22': '1.71', '2015-08-30': '1.7', '2015-08-19': '1.54', '2015-08-05': '1.72', '2015-08-06': '4.09', '2015-08-08': '2.18', '2015-08-01': '1.55', '2015-08-31': '1.83', '2015-08-14': '1.8', '2015-08-10': '2.2', '2015-08-20': '1.52', '2015-08-04': '1.62', '2015-08-29': '1.42', '2015-08-27': '0.64', '2015-08-03': '1.89', '2015-08-11': '1.8', '2015-08-16': '1.6', '2015-08-12': '1.99', '2015-08-21': '1.47', '2015-08-25': '0.98', '2015-08-18': '1.51', '2015-08-15': '1.75', '2015-08-17': '1.43', '2015-08-28': '0.89', '2015-08-09': '2.14', '2015-08-02': '1.97'}

In [245]:
my_dict

{'2015-08-01': '1.55',
 '2015-08-02': '1.97',
 '2015-08-03': '1.89',
 '2015-08-04': '1.62',
 '2015-08-05': '1.72',
 '2015-08-06': '4.09',
 '2015-08-07': '3.52',
 '2015-08-08': '2.18',
 '2015-08-09': '2.14',
 '2015-08-10': '2.2',
 '2015-08-11': '1.8',
 '2015-08-12': '1.99',
 '2015-08-13': '1.81',
 '2015-08-14': '1.8',
 '2015-08-15': '1.75',
 '2015-08-16': '1.6',
 '2015-08-17': '1.43',
 '2015-08-18': '1.51',
 '2015-08-19': '1.54',
 '2015-08-20': '1.52',
 '2015-08-21': '1.47',
 '2015-08-22': '1.71',
 '2015-08-23': '2.02',
 '2015-08-25': '0.98',
 '2015-08-26': '0.8',
 '2015-08-27': '0.64',
 '2015-08-28': '0.89',
 '2015-08-29': '1.42',
 '2015-08-30': '1.7',
 '2015-08-31': '1.83'}

In [299]:
# Change each Date to its numiceral day of the week, create a list of values for each day of the week
week_dict = defaultdict(list)
for key, value in my_dict.items():
    new_key = datetime.datetime.strptime(key,'%Y-%m-%d')
    new_key = cal.weekday(new_key.year, new_key.month, new_key.day)
    week_dict[new_key].append(value,)
print(week_dict)

defaultdict(<class 'list'>, {0: ['1.83', '2.2', '1.89', '1.43'], 1: ['1.62', '1.8', '0.98', '1.51'], 2: ['0.8', '1.54', '1.72', '1.99'], 3: ['1.81', '4.09', '1.52', '0.64'], 4: ['3.52', '1.8', '1.47', '0.89'], 5: ['1.71', '2.18', '1.55', '1.42', '1.75'], 6: ['2.02', '1.7', '1.6', '2.14', '1.97']})

In [300]:
week_dict

defaultdict(<class 'list'>, {0: ['1.83', '2.2', '1.89', '1.43'], 1: ['1.62', '1.8', '0.98', '1.51'], 2: ['0.8', '1.54', '1.72', '1.99'], 3: ['1.81', '4.09', '1.52', '0.64'], 4: ['3.52', '1.8', '1.47', '0.89'], 5: ['1.71', '2.18', '1.55', '1.42', '1.75'], 6: ['2.02', '1.7', '1.6', '2.14', '1.97']})

In [317]:
# Find the avg wave height for each day
avg_dict = {key: (sum([float(i) for i in values]) // len(values)) for key, values in week_dict.items()}

In [318]:
avg_dict

{0: 1.0, 1: 1.0, 2: 1.0, 3: 2.0, 4: 1.0, 5: 1.0, 6: 1.0}

In [472]:
# Find the total for each list of values
this_dict = {k: {sum(map(float, v)) for k, v in week_dict.items()}
             (k, max(v))for k, v in set}

TypeError: 'type' object is not iterable

In [444]:
this_dict

{0: [7.35, 5.91, 6.05, 8.06, 7.68, 8.61, 9.430000000000001],
 1: [7.35, 5.91, 6.05, 8.06, 7.68, 8.61, 9.430000000000001],
 2: [7.35, 5.91, 6.05, 8.06, 7.68, 8.61, 9.430000000000001],
 3: [7.35, 5.91, 6.05, 8.06, 7.68, 8.61, 9.430000000000001],
 4: [7.35, 5.91, 6.05, 8.06, 7.68, 8.61, 9.430000000000001],
 5: [7.35, 5.91, 6.05, 8.06, 7.68, 8.61, 9.430000000000001],
 6: [7.35, 5.91, 6.05, 8.06, 7.68, 8.61, 9.430000000000001]}

In [ ]:
for k, v in this_dict.items() if v == max(this_dict.values())